!!!html
%html
  %head
    %title= @title
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script{ :src => cometio_js }
    :javascript
      var io = new CometIO().connect();
      io.on("update", function(hash) {
        window.location.reload();
      });
  %body
    - if @current_user
      %form(method='post' action='/logout')
        You are logged in as
        = @current_user.first_name
        = @current_user.last_name
        %button Logout
      %hr

    != yield
