:css
  .task {
    width: 100px;
    height: 20px;
    background-color: gray;
    float: left;
    margin-right: 10px;
  }
  .desc {
    height: 20px;
    display: inline-block;
    margin-bottom: 5px;
  }

!= @content
