!!!html
%html
  %head
    %title Student Checklist
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script{ :src => cometio_js }
    :javascript
      var io = new CometIO().connect();
      io.on("update", function(hash) {
        window.location.reload();
      });
  %body
    %h1 Who completed what task
    %table(border='1')
      - @tasks_by_assigned_at.each do |assigned_at, tasks|
        %tr
          %td(colspan='3')
            %b= assigned_at
        %tr
          - @users.each do |user|
            %th= user.initials
        - tasks.each do |task|
          %tr
            - @users.each do |user|
              %td
                - if attempt = @attempt_by_task_id_user_id[task.id][user.id]
                  = attempt.completed ? 'X' : 'I'
            %td= task.description
            %td
              %form(method='post' action='/delete_task')
                %input{ :type=>'hidden', :name=>'task_id', :value=>task.id }
                %button Delete
    %a(href="/new") New task
