body {
  font-family: sans-serif;
}
a {
  color: black;
}
.margin-tasks {
  clear: left;
  /*width: 100px;*/
  height: 20px;
  float: left;
  margin-right: 10px;
}
.desc {
  margin-bottom: 5px;
  line-height: 23px;
}
.desc pre {
  margin: 0;
  line-height: 18px;
}
.desc.comment {
  color: #aaa;
}
.desc.current {
  background-color: #ffa;
}
.desc > .highlight-time {
  float: right;
  font-size: 8pt;
  color: #aaa;
}
.attempt {
  padding: 3px;
  width: 18px;
  height: 16px;
  float: left;
  margin-right: 4px;
  font-size: 8pt;
}
.attempt.unstarted {
  background-image: url('/images/gray-box.png');
}
.attempt.incomplete {
  background-image: url('/images/orange-wrench.png');
}
.attempt.complete {
  background-image: url('/images/green-checkbox.png');
}
.attempt.question {
  background-image: url('/images/red-question.png');
}
.attempt.locked {
  background: url('/images/gray-locked-checkbox.png');
}
.attempt.updating {
  background: url('/images/animated-waiting.gif') no-repeat center center;
}
.attempt.name-label {
  position:fixed;
  background-color:black;
  color:white;
  left:0;
  top:0;
  padding: 0px;
  width: 24px; /* to compensate for padding */
  height: 22px; /* to compensate for padding */
  font-size: 8pt;
  line-height: 11px;
}
/*.bullet-0 {
  background: transparent url('/images/bullet-black.png') no-repeat 112px 4px;
  padding-left: 128px;
}
.bullet-1 {
  background: transparent url('/images/bullet-white.png') no-repeat 130px 4px;
  padding-left: 150px;
}*/
.heading {
  font-size: 30pt;
  font-weight: bold;
  /*padding-left: 110px;*/
  margin-top: 30px;
  margin-bottom: 20px;
}
#attempt-dropdown {
  width:150px;
  border:1px #aaa solid;
  box-shadow: 0px 5px 15px #aaa;
  padding:10px;
  position:absolute;
  background-color:white;
  display:none;
}
#attempt-dropdown .choose-status {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
}
#attempt-dropdown .explanation {
  clear: both;
  margin: 0;
  padding-top: 8px;
}
#attempt-dropdown .attempt {
  border: 2px white solid;
}
#attempt-dropdown .attempt.selected {
  border: 2px blue solid;
}
.inline-task .attempt {
  margin: 0;
  margin-right: 10px;
}
.more {
  display:none;
}
.found {
  background-color: yellow;
}

table.weeks td, th {
  padding: 1px 5px;
  vertical-align: top;
  font-family: 'Quicksand', sans-serif;
}
table.weeks .week-label {
  font-weight: bold;
  text-transform: uppercase;
}
table.weeks tr.last-day > td {
  padding-bottom: 15px;
}
