body {
  font-family: sans-serif;
}
.task {
  clear: left;
  /*width: 100px;*/
  height: 20px;
  float: left;
  margin-right: 10px;
}
.desc {
  padding-top: 2px;
  margin-bottom: 5px;
}
.attempt {
  border: 2px #ccc solid;
  border-left: 2px gray solid;
  border-top: 2px gray solid;
  padding: 3px;
  width: 14px;
  height: 12px;
  float: left;
  margin-right: 4px;
  font-size: 8pt;
}
.attempt.unstarted {
  background-color: red;
}
.attempt.incomplete {
  background-color: yellow;
}
.attempt.complete {
  background-color: green;
}
.attempt.updating {
  background-color: orange;
}
.attempt.selected {
  border: 2px blue solid;
}
/*.bullet-0 {
  background: transparent url('/images/bullet-black.png') no-repeat 112px 4px;
  padding-left: 128px;
}
.bullet-1 {
  background: transparent url('/images/bullet-white.png') no-repeat 130px 4px;
  padding-left: 150px;
}*/
.heading {
  font-size: 30pt;
  font-weight: bold;
  /*padding-left: 110px;*/
  margin-top: 30px;
  margin-bottom: 20px;
}
#attempt-dropdown {
  width:100px;
  border:1px #aaa solid;
  box-shadow: 0px 5px 15px #aaa;
  padding:10px;
  position:absolute;
  background-color:white;
  display:none;
}
